@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900|Rubik:900&subset=cyrillic');

html {
  font-size: 16px;
}

body {
  max-width: 100%;
  min-height: 100vh;
  background-size: 100% 100%;
  background: linear-gradient(180deg, #b06ab3 60%, #4568dc 100%);
  overflow-x: hidden;
}

.heading {
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  color: #fdfdfd;

  @media (max-width: 1024px) {
    font-size: 1.5rem;
  }
}

.para {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  color: #fdfdfd;
  text-align: left;

  @media (max-width: 1024px) {
    font-size: 1rem;
  }
}

.text-center {
  text-align: center;
}

.mt50 {
  margin-top: 50px;
}

.feedback-link {
  text-decoration: none;
  font-size: 1.3rem;
  color: #fdfdfd;
}
