@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Rubik:900&subset=cyrillic');

body {
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background: linear-gradient(180deg, #B06AB3 60.94%, #4568DC 100%);
}