.button__artist {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.button__track {
  font-family: 'Montserrat', sans-serif;
}

.button_theme_landing {
  height: 80px;
  margin: 0;
  background-color: #59abe3;
  color: #fdfdfd;
  cursor: pointer;
}