.landing {
  width: 100%;
  margin-top: 30vh;

  @media (max-width: 1024px) {
    margin-top: 20vh;
  }
}

.heading {
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 48px;

  @media (max-width: 425px) {
    font-size: 24px;
  }
}

.para {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;

  @media (max-width: 425px) {
    font-size: 16px;
  }
}