.landing {
  width: 100%;
  height: 100vh;
  margin-top: 30vh;
}

.heading {
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 48px;
}

.para {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}