.landing {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
}

.vinyl {
  z-index: -1;
  position: absolute;
  right: 20px;
  @media (max-width: 1024px) {
    right: -180px;
  }

  @media (max-width: 425px) {
    right: -100px;
  }
}

.vinyl__image {
  animation: App-logo-spin infinite 20s linear;
  @media (max-width: 425px) {
    height: 256px;
  }
}

.heading {
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 48px;
  color: #fdfdfd;

  @media (max-width: 1024px) {
    font-size: 24px;
  }
}

.para {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #fdfdfd;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
