.progress-dot {
  width: 16px;
  height: 16px;
  border: 1px solid #fdfdfd;
  border-radius: 50%;

  @media (max-width: 1024px) {
    width: 12px;
    height: 12px;
  }
}

.progress-dot_color_green {
  border: 1px solid #26C281;
  background-color: #26C281;
}

.progress-dot_color_red {
  border: 1px solid #C91F37;
  background-color: #C91F37;
}
