.button--grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(138px, 450px));
  justify-items: center;
  align-items: center;
  justify-content: center;
  grid-gap: 2rem 2rem;

  @media (max-width: 425px) {
    grid-gap: 0.5rem 0.5rem;
  }
}

.progress-bar {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
